{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb",
  "rules":{
    "import/no-extraneous-dependencies":1,
    "react/jsx-filename-extension":0,
    "max-len":0
  }
}
