.truncate {
  @util truncate;
}
.relative {
  position: relative;
}

.white-color {
  color: white;
}

.bold {
  font-weight: bold;
}

.half-rem-mb {
  margin-bottom: 0.5rem;
}
.half-rem-mt {
  margin-top: 0.5rem;
}

.one-rem-mb {
  margin-bottom: 1rem;
}
.one-rem-mt {
  margin-top: 1rem;
}

.two-rem-mb {
  margin-bottom: 2rem;
}
.two-rem-mt {
  margin-top: 2rem;
}

.is-fullwidth {
  width: 100% !important;
}

.inline-block{
  display: inline-block;
}